type=dhcp-client
hostname=${hostname}
panorama-server=cloud
dgname=${scm_folder}
dns-primary=169.254.169.253
dns-secondary=8.8.8.8
op-command-modes=jumbo-frame
plugin-op-commands=aws-gwlb-inspect:enable
vm-series-auto-registration-pin-id=${pin_id}
vm-series-auto-registration-pin-value=${pin_value}
