type=dhcp-client
hostname=${hostname}
panorama-server=${panorama_ip}
panorama-server-2=
tplname=${panorama_template}
dgname=${panorama_device_group}
dns-primary=169.254.169.253
dns-secondary=8.8.8.8
op-command-modes=jumbo-frame
plugin-op-commands=aws-gwlb-inspect:enable
vm-auth-key=${panorama_auth_key}
